.home-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
  background: white;
  color: black;
  text-align: left;
  padding: 2rem;
}

.content {
  max-width: 500px;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.btn.btn-lg {
  background-color: lightskyblue !important;
  color: white !important;
}

.btn.btn-lg:hover {
  background-color: rgb(14, 76, 115) !important;
}

@media (max-width: 768px) {
  .home-page {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .image-container img {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .home-page {
    padding: 1rem;
  }

  .content {
    max-width: 100%;
  }
}
